# Binaries for programs and plugins
/kobj
/kobj-linux

# Dependency directories (remove the comment below to include it)
/vendor/

# VS code settings
/.vscode

# GoLand IDEA settings
/.idea

# Configuration for running locally
/apiserver.local.config
